
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: #AAD7D9;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px; /* Set your desired width */
    height: 500px; /* Set your desired height */
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 30px;
}
h1{
    font-weight: bold;
}
.text-para{
    font-weight: 600;
    opacity: .8;
    padding-bottom:5px;
    border-bottom: 1px black solid;
}
.form-field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.form-field input{
    padding: 10px;
    background-color: #EEF0E5;
    border: none;
}

.input-details{
    grid-column: span 2;
}
span{
    font-weight: bold;
    color: #057aac;
}
.text-que p{
    font-weight: bold;
}

button {
    width: 150px;
    font-size: 18px;
    color: #fff;
    border: none;
    background: linear-gradient(to bottom, #057aac, #AAD7D9);
    padding: 10px 20px;
    border-radius: 4px;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

button:hover {
    cursor: pointer;
    transform: scale(1.1); /* Increase the scale factor for the hover effect */
}
input:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    /* Styles for screens with a maximum width of 768 pixels or less */
  .input-name{
    grid-column: span 2;
  }
  .container{
    width: 300px;
  }
}
